<p>
	Aclarar al usuario que la aplicacion web requiere permiso para poder acceder a sus grupos,
	y asi tomar la informacion y organizarla, para facilitar su posterior busqueda
</p>
<br/>
<%= link_to 'Permitir acceso', @auth_url, :class=>"button"%>