<div class="row">

  <div id="welcome_panel" class="six columns panel">
    <h3></h3>
    <h5 class="subheader">
      <div id="icon_number_1" class="two columns"><img src="/images/icon_number_1.png" /></div>
      <h6 class="subheader">Pick group and # of posts</h6>

      <div id="icon_number_2" class="two columns"><img src="/images/icon_number_2.png" /></div>
      <h6 class="subheader">Search</h6>
      
      <div id="icon_number_3" class="two columns"><img src="/images/icon_number_3.png" /></div>
      <h6 class="subheader">Filter results by content, author, etc.</h6>
    </h5>
    <br/>
    <div id="grant_access">
      <%= link_to 'Got it', @auth_url, class: "radius button", id: "access_button" %>
    </div>
    <div id="loading_access">
      <img src="/images/roller.gif" />
    </div>
  </div>

  <div id="access_panel" class="two columns panel">
    <div id ="face_button_like">
      <div class="fb-like" data-href="https://www.facebook.com/findmypost1" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false" data-font="lucida grande">
      </div>
    </div>
    <div id="social_buttons">
      <ul class="social" id="jquery">
        <li class="facebook" style="opacity: 1;">
          <a href="https://www.facebook.com/findmypost1" target="_blank"><strong style="opacity: 0; top: -1px;">Facebook</strong></a>
        </li>
        <li>&nbsp;</li>
        <li class="linkedin" style="opacity: 1;">
          <a href="http://ar.linkedin.com/in/juanroldan89" target="_blank"><strong style="opacity: 0; top: -1px;">LinkedIn</strong></a>
        </li>
      </ul>
    </div>
  </div>

</div>
