<p>
	La aplicacion sólo lee información sobre los grupos a los que pertenece,
	para poder presentarle los resultados.
</p>

<p>
 Buscar en grupos sin distracciones!
 Grupos ordenados alfabeticamente!
 Filtrado instantaneo de la informacion importate!
</p>
<br/>
<%= link_to 'Permitir acceso', @auth_url, :class=>"button"%>
