/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation.min 
 *= require style 
*/

#search_box{
  width: 258px;
}

.group-list {
	width: 685px;
}

#scrollUp {
	left: 880px;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}

#loading {
  text-align: center;
  left: 100px;
}

#title_logo{
  left: -175px;
  width: 660px;
}

#access_panel{
  right: 190px;
  height: 216px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#access_panel:hover{
  -webkit-box-shadow: 0px 0px 2px 0px black;
  -moz-box-shadow: 0px 0px 2px 0px #000000;
  box-shadow: 0px 0px 2px 0px black;
}

#welcome_panel{
  left:120px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#welcome_panel:hover {
  -webkit-box-shadow: 0px 0px 2px 0px black;
  -moz-box-shadow: 0px 0px 2px 0px #000000;
  box-shadow: 0px 0px 2px 0px black;
}

#search_button_div{
  right: 18px;
  top: 15px;
}

#search_button_container{
  right: 8px;
  top: 15px;
}

#icon_number_1{
  width: 10%;
}
#icon_number_2{
  width: 10%;
}
#icon_number_3{
  width: 10%;
}

.div-box {
  padding:8px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.div-box:hover{
  -webkit-box-shadow: 0px 0px 2px 0px black;
  -moz-box-shadow: 0px 0px 2px 0px #000000;
  box-shadow: 0px 0px 2px 0px black;
}

#ajax_results {
  left:145px;
  bottom: -125px;
  z-index: 1;
}

#profile_image {
  bottom: -14px;
  left: 55px;
}

#search_header {
  z-index: 2;
  display: block;
  position: fixed;
  text-align: left;
  -webkit-box-shadow: 0px 0px 8px 0px black;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px black;
  left: 283px;
  top: 105px;
}

#select_button_search {
  right: 18px;
  width: 228px;
}

#search_list span, li strong div, li a {
  font-size: 12px;
}

#access_button {
  left: 18px;
}