/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#search_box{
    position:fixed;
    top:330px;
    left:880px;
}

.group-list {
	width: 480px;
}

#scrollUp {
	left: 880px;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}

#loading {
  text-align: center;
  left: 100px;
}

#title_logo{
  width:745px;
}

#access_panel{
  right: 180px;
}

#welcome_panel{
  left:15px;
}

#search_button_div{
  text-align: center;
}

#search_button_div_inside{
  right: 150px;
  top: 4px;
}

#icon_number_1{
  width: 10%;
}
#icon_number_2{
  width: 10%;
}
#icon_number_3{
  width: 10%;
}