/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#search_box{
    position:fixed;
    bottom:290px;
    left:880px;
}

.group-list {
	width: 685px;
}

#scrollUp {
	left: 880px;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}

#loading {
  text-align: center;
  left: 100px;
}

#title_logo{
  width:688px;
}

#access_panel{
  right: 150px;
}

#welcome_panel{
  left:80px;
}

#search_button_div{
  left: 20px;
  top: 15px;
}

#search_button_div_inside{
  right: 150px;
  top: 4px;
}

#icon_number_1{
  width: 10%;
}
#icon_number_2{
  width: 10%;
}
#icon_number_3{
  width: 10%;
}

#face_button_like{
  bottom: -18px;
}

.div-box {
  padding:8px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#ajax_results {
  left:11.5%;
}

#profile_image {
  bottom: -15px;
  left: 25px;
}

#searh_header {
  left: 100px;
}