---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/304163172988441?access_token=EAACEdEose0cBAEKVkvt3BYb1vEDeZBBt7kzDbILJuUoFeiAIop0k6GX32SVHkGbjm5OB8k0iCHxSopW78ygtlluO78lOyAHtfFd8723xmfu0xXWlhY6ojy5OU597EgsiNOU6ZCCifpORPiZBNFBIuvSPCAW42toMmRcqj5tEq3rDbGNWDcAyZC2XPrF74nUZD&fields=name,description,icon,feed.fields(from,message,name).limit(20)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":3,"total_time":2}'
      Facebook-Api-Version:
      - v2.5
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"4c25e7d6a67d964fd24750ae3c94308b62e22241"'
    body:
      encoding: UTF-8
      string: '{"name":"PIRATAS ONLY","description":"Un grupo para tirar todo sobre:\n\n+
        Puterio en la facet\n+ Putas everywhere\n+ Salidas nocturnas bieeeen de trampaaa\n+
        Armar despedidas de solteros (cr\u00e9ase o no, a varios les va a tocar dentro
        de poco)\n+ Boliches nuevos\n+ Juntadas a hinchar el pingo (poker, alcohol,
        pizzas, lo que venga)\n+ Si tienen videos nuevos de alguna actriz porno, son
        libres de postearlos xD","icon":"https:\/\/static.xx.fbcdn.net\/rsrc.php\/v3\/y2\/r\/_lXgqwMw7yu.png","feed":{"data":[{"from":{"name":"Juan
        Rold\u00e1n","id":"562013635"},"message":"La de rosa vive aqui en el edificio,
        piso 7. PD: tiene una hermana melliza","id":"304163172988441_1460493114022102"},{"from":{"name":"Marcelo
        Lazarte","id":"10203760445950646"},"message":"https:\/\/www.facebook.com\/belen.gonzalez.71619?fref=nf\n\ny
        amigasssss","id":"304163172988441_1164118310326252"},{"from":{"name":"Marcelo
        Lazarte","id":"10203760445950646"},"message":"https:\/\/www.facebook.com\/virginia.cappetta","id":"304163172988441_1[...]
