---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/304163172988441?access_token=invalid_access_token&fields=name,description,icon,feed.fields(from,message,name).limit(20)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"B6ux8tilsBR"}}'
  recorded_at: Fri, 20 Oct 2017 04:26:11 GMT
recorded_with: VCR 3.0.3
