<!DOCTYPE html>
<html>
<head>
  <title>Encuentra mi post!</title>
  <%= stylesheet_link_tag    "results", :media => "all" %>
  <%= javascript_include_tag "results" %>
  <%= csrf_meta_tags %>
</head>
<body class="index">

<div class="header">
  <div class="container">
    <h1><a href="/">Encuentra mi post</a></h1>
  </div>
</div>

<%= yield %>

<script>
  $( window ).load( function()
  {
      var columns    = 4,
          setColumns = function() { columns = $( window ).width() > 1288 ? 4 : $( window ).width() > 965 ? 3 : $( window ).width() > 643 ? 2 : 1; };

      setColumns();
      $( window ).resize( setColumns );

      $( '.list' ).masonry({
          itemSelector: '.div-box',
          columnWidth:  function( containerWidth ) { return containerWidth / columns; }
      });
  })
</script>

</body>
</html>
