<!DOCTYPE html>
<html>
<head>
  <title>Encuentra mi post!</title>
  <%= stylesheet_link_tag    "results", :media => "all" %>
  <%= javascript_include_tag "results" %>
  <%= csrf_meta_tags %>
</head>
<body class="index">

<div class="header">
  <div class="container">
    <h1><a href="/">Encuentra mi post</a></h1>
  </div>
</div>

<%= yield %>

</body>
</html>
